.flexbox {
    display: flex;

    &--col {
        flex-direction: column;
    };

    &--space-between {
        justify-content: space-between;
    };

    &--center-x {
        justify-content: center;
    };

    &--center-y {
        align-items: center;
    };

    &--center-xy {
        justify-content: center;
        align-items: center;
    };

    &--bottom-y {
        align-items: flex-end;
    };

    &__item {
        &--stretch {
            align-self: stretch;
        }

        &--place-to-bottom {
            margin-top: auto;
        }

        &--center-self {
            align-self: center;
        }
    }
};
