@import "variables";

// ---------- paddings ----------
.pxy-l {
    padding: 1.5em;
}

.pxy-m {
    padding: 1em;
}

.pxy-s {
    padding: 0.5em;
}

.px-l {
    padding: 0 1.5em;
}

.px-s {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.px-xs {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.py-l {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.py-s {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.py-xs {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

// ---------- colors ----------
    //// ---------- font colors ----------
        .f-red {
            color: @p-soft-red;
        }

        .f-blue {
            color: @p-moderate-blue;
        }

        .f-grayish-blue {
            color: @n-grayish-blue;
        }

        .f-white {
            color: @n-white;
        }

    //// ---------- bg colors ----------
        .bg-very-light-gray {
            background-color: @n-very-light-gray;
        }

        .bg-white {
            background-color: @n-white;
        }

        .bg-moderate-blue {
            background-color: @p-moderate-blue;
        }

// ---------- borders ----------
.radius {
    border-radius: 10px;
}

.radius-m {
    border-radius: 5px;
}

.radius-s {
    border-radius: 3px;
}

// ---------- font weights ----------
.f-bold {
    font-weight: @bold;
}

.f-medium {
    font-weight: @medium;
}

.f-regular {
    font-weight: @regular;
}


// width
.width-m {
    width: 90px;
}

.max-width-15 {
    max-width: 15%;
}

