@import "variables";

// ---------- paddings ----------
.pxy-xl {
    padding: 2em;
}

.pxy-l {
    padding: 1.5em;
}

.pxy-m {
    padding: 1em;
}

.pxy-ms {
    padding: 0.75em;
}

.pxy-s {
    padding: 0.5em;
}

.pxy-xs {
    padding: 0.3em;
}

.px-xxl {
    padding-right: 4em;
    padding-left: 4em;
}

.px-l {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.px-m {
    padding-left: 1em;
    padding-right: 1em;
}

.py-m {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.px-s {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.px-xs {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.py-xl {
    padding-top: 2em;
    padding-bottom: 2em;
}

.py-l {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.py-s {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.py-xs {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.pt-s {
    padding-top: 0.5em;
}

// margins

.mt-m {
    margin-top: 1em;
}

.mt-s {
    margin-top: 0.5em;
}

.mb-m {
    margin-bottom: 1em;
}

// ---------- colors ----------
//// ---------- font colors ----------
.f-red {
    color: @p-soft-red;
}

.f-blue {
    color: @p-moderate-blue;
}

.f-grayish-blue {
    color: @n-grayish-blue;
}

.f-white {
    color: @n-white;
}

//// ---------- bg colors ----------
.bg-very-light-gray {
    background-color: @n-very-light-gray;
}

.bg-white {
    background-color: @n-white;
}

.bg-moderate-blue {
    background-color: @p-moderate-blue;
}

.bg-transparent {
    background-color: transparent;
}

// ---------- borders ----------
.radius-xxl {
    border-radius: 40px;
}

.radius-l {
    border-radius: 10px;
}

.radius-m {
    border-radius: 5px;
}

.radius-s {
    border-radius: 3px;
}

.radius-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.radius-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

    // ---------- font weights ----------
    .f-bold {
        font-weight: @bold;
    }

    .f-medium {
        font-weight: @medium;
    }

    .f-regular {
        font-weight: @regular;
    }


    // width
    .width-m {
        width: 90px;
    }

    .max-width-15 {
        max-width: 15%;
    }

    .max-w-45 {
        max-width: 20%;
    }

    .w-50 {
        width: 50%;
    }

    .w-85 {
        width: 85%;
    }

    .w-75 {
        width: 75%;
    }


    // height
    .min-h-100vh {
        min-height: 100vh;
    }

    .h-100vh {
        height: 100vh;
    }

    .h-100 {
        height: 100%;
    }

    // gaps
    .gap-xs {
        gap: 0.5em;
    }

    .r-gap-xs {
        row-gap: 0.5em;
    }

    .r-gap-s {
        row-gap: 1em;
    }

    .c-gap-l {
        column-gap: 2em;
    }

    .c-gap-m {
        column-gap: 1.5em;
    }

    .c-gap-s {
        column-gap: 1em;
    }

    .c-gap-xs {
        column-gap: 0.5em;
    }

    // alignment
    .f-center {
        text-align: center;
    }

    .f-end {
        text-align: end;
    }

    // font-size

    // ----------- font sizes ----------
    .f-xxl {
        font-size: 28px;
    }

    .f-xl {
        font-size: 24px;
    }

    .f-l {
        font-size: 20px;
    }

    .f-m {
        font-size: 16px;
    }

    .f-s {
        font-size: 14px;
    }

    .f-xs {
        font-size: 12px;
    }


    // status messages
    .err-msg {
        .f-red();
        .f-medium();
        .f-center();
    }


    .sticky {
        position: sticky;

        &--top {
            top: 0;
        }
    }
