@import '../../less/variables';

.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 20px 15px;
    max-width: 800px;
}

.comment {
    display: inherit;
    background-color: @n-white;
    border-radius: 10px;
    padding: inherit;
    gap: 16px;
    color: @n-grayish-blue;

    &--col {
        flex-direction: column;
    }

    &__comment-message {
        max-width: 95%;
    }

    &__comment-header {
        display: inherit;
        align-items: center;
        gap: 15px;
        font-size: 16px;

        img {
            max-width: 12%;
        }

        h1 {
            font-size:  16px;
        }

        &__active-user {
            background-color: @p-moderate-blue;
            padding: 5px 8px;
            border-radius: 3px;
            color: @n-white;
        }

        @media only screen and (width < 345px) {
            font-size: 12px;

            img {
                max-width: 15%;
            }
        }
    }

    &__comment-counter {
        display: inherit;
        justify-content: space-between;
        background-color: @n-very-light-gray;
        color: @p-moderate-blue;
        font-weight: @medium;
        width: 90px;
        border-radius: 10px;

        &--col {
            flex-direction: column;
            align-self: center;
            height: 100px;
            margin: 0 6px;
        }
    }

    &__comment-btn-section {
        display: inherit;
        justify-content: space-between;
        margin-top: 8px;

        &__state-btns {
            display: flex;

            button {
                font-size: 16px;
            }

            &--delete {
                min-width: 25%;
            }

            &--edit {
                min-width: 35%;
            }
        }
    }
}
