@import "../shared";

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: @p-moderate-blue;
    color: @n-white;
    padding: 18px 24px 12px 0;

    &__icon {
        cursor: pointer;
        transition: color 0.3s;
        font-size: 20px;

        &:hover {
            color: @p-soft-red;
        }
    }
}
