@import "../shared";

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    .f-end();
    .pxy-m();
    .f-l();
    background-color: @p-moderate-blue;
    color: @n-white;
    font-weight: @medium;
    position: sticky;
    top: 0;

    @media only screen and (width < 901px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}
