@import 'styles/reset';
@import 'styles/variables';

* { box-sizing: border-box }

@font-face {
    font-family: Rubik-VariableFont;
    src: url("./assets/Rubik-VariableFont_wght.ttf") format('truetype');
    font-weight: 300 900;
    font-display: swap;
}

:root {
    font-family: @primary-font, @fallback-font;
    //line-height: 1.5;
    font-weight: 400;
    //color-scheme: light dark;
    color: @n-dark-blue;
    font-size: 16px;
    background-color: @n-light-gray;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
}

//button:focus,
//button:focus-visible {
//    outline: 4px auto -webkit-focus-ring-color;
//}
//
//@media (prefers-color-scheme: light) {
//    :root {
//        color: #213547;
//        background-color: #ffffff;
//    }
//
//    a:hover {
//        color: #747bff;
//    }
//
//    button {
//        background-color: #f9f9f9;
//    }
//}
